    .icon_joke {
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 50%;
        position: relative;
        left: 40px;
    }

    .icon_joke svg {
        position: absolute;
        padding: 11px 10px;
    }

    .joke_block-text {
        position: relative;
        bottom: 40px;
    }

    @media (max-width: 600px) {
        .icon_joke {
            left: 20px;
        }
    }