     h1 {
        color: #333;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        padding-bottom: 5px;
     }

     h2 {
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        padding-bottom: 78px;
    }

     h4 {
        color: #333;
        font-size: 24px;
        font-weight: 500;
        line-height: 44px;
        padding-bottom: 43px;
     }