  * {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
  }

  body {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
      overflow: inherit;
  }

  @media (max-width: 1024px) {
      body.overflow-hidden {
          overflow: hidden;
          height: 100%;
      }
  }

  .text{
      padding: 40px 140px 140px 140px;
      width: 680px;
      min-height: 630px;
  }

  @media (max-width: 1024px) {
      .text {
          padding: 40px 40px;
      }

      #root {
          display: block !important;
      }
  }

  @media (max-width: 600px) {
      .text {
          padding: 20px 20px;
          width: auto;
      }

      #root {
          display: block !important;
      }
  }

  #root{
      display: inline-flex;
  }